.findYourAccountPanel
{
	color:black;
	width:530px;
	height:150px;
	position:absolute;
	top:160px;
	left:440px;
	padding:15px;
	border:1px solid darkgrey;
	

}

body
{
	background-color:white;
}

.textBold
{
	font-weight:bold;
	font-size:19px;

}

.greyline
{
	color:lightgrey;
}

.centerAlign
{
	text-align:center;
	font-size:13px;
}
.graysmall
{
	font-size: 12px;
	color: grey;
}

.bluesmall
{
	font-size: 12px;
	color: blue;
}

.footer
{
	padding-left:150px;
}
.textBoxx
{
	width:250px;
	height:20px;
}



.bottomPanel
{
	padding:5px;
	height:25px;
	width:550px;
	background-color:#eceff6;
	position:absolute;
	top:180px;
	left:0px;
	border:1px solid darkgrey;
}


.smallText
{
	font-size:13px;
	color: blue;
}

.smallText:hover
{
	text-decoration:underline;
}

.bluebuttonRight
{
	background-color:#3b5998;
	color:white;
	float:right;
}
.right
{
	float:right;
	font-weight:bold;
	font-size:12px;
}

.linee
{
	padding-top:300px;
	padding-left:100px;
	padding-right:100px;
	color:lightgrey;
}

.fberrorbox  
{  
	background-color: #ffebe8;  
	border: 1px solid #dd3c10;  
	color: #333333;  
	padding: 10px;
	width:500px;	
	height:30px; 
	font-size: 13px;  
	font-weight: bold; 
	display:none; 
}  