.msgBox
{
padding:5px;
width:278px;
height:50px;

}

.msgBox:hover
{
background-color:#eceff6;
}

.mspPic
{
width:45px;
height:45px;
float:left;
}

.blackUsername
{
color:black;
font-weight:bold;
float:left;
padding:5px;

}
.blueUsername
{
color:darkblue;
font-weight:bold;
float:left;
padding-left:5px;

}

.blueUsername:hover
{
text-decoration:underline;
}

.msgTime
{
float:right;
color:grey;
font-size:13px;
}


.insideMessages
{
padding:10px;
width:520px;
height:auto;
overflow:auto;

}

.msgMiniPic
{
width:30px;
height:30px;
float:left;
}

.simpleMessage
{
color:grey;
font-size:14px;

padding-left:5px;
}

