.editProfile
{
width:500px; padding:10px;height:80px;
}

.editProfile:hover
{
background-color:#f7f7f7;
}

.red
{
	color:red;
}
.grey:hover,.black:hover
{
	text-decoration:underline;
}
a
{
	text-decoration:none;
}
.hoverr
{
	text-decoration:none;
}
.hoverr:hover
{
	background-color: #f7f7f7;
}
.k:hover
{
	background-color: #f7f7f7;
}
.decor
{
	text-decoration:none;
}
.decor:hover
{
	text-decoration:underline;
}

.smallLine
{
	padding-left:100px;
	padding-right:100px;
	width:350px;
	color:lightgrey;
	align:center;
}
.bluebutton
{
	background-color:#3b5998;
	color:white;
}

.blackNormalFont
{
	float:left;
	color:black;
	font-size:14px;
	text-align:left;
	
}

.aligncenter
{
	clear:both;
	align-content: space-around; 
	
}



.smallBlackFont
{
	color:black;
	font-size:14px;
}
.smallBlueFont
{
	color:#101D94;
	font-size:14px;
}
.photosPanel
{
	margin-left:210px;
	margin-top:20px;
	background-color: #f7f7f7; 
	padding:10px;
	height:70px;
	width:830px;
	font-weight: bold;
	font-size:22px;
	
}
.photoswhitePanel
{	clear:both;
	margin-left:210px;
	padding:10px;
	height:400px;
	width:830px;
	font-size:18px;
	color:grey;
	background-color:white;
	margin-bottom:10px;
	
}
.rightSide
{	
	float:right;
	font-weight: bold;
	font-size:12px;
	color:black;
}

.grey
{
color:grey;
}
.black
{
color:black;
font-weight: bold;
}
.aboutwhitePanelLeft:hover
{
	color:black !important;
}
.aboutPanel
{
	margin-left:210px;
	margin-top:20px;
	background-color: #f7f7f7; 
	padding:10px;
	height:40px;
	width:830px;
	font-weight: bold;
	font-size:22px;
	
}

.aboutwhitePanelLeft
{
	float:left;
	margin-left:210px;
	padding:10px;
	height:400px;
	width:250px;
	font-size:18px;
	color:grey;
	background-color:white;
	margin-bottom:10px;
	border:1px solid darkgrey;
	
}

.aboutwhitePanelRight
{
	float:left;
	padding:10px;
	height:400px;
	width:556px;
	font-size:18px;
	color:grey;
	background-color:white;
	margin-bottom:10px;
	border:1px solid darkgrey;
	border-left:none;
	
}

.footerTimeline
{
	background-color:white;
	padding:5px;
	width:100%;
	bottom:0;
	height:30px;
	margin-top:10px;
	margin-left:210px;
	margin-right:300px;
	position: fixed;
}
.ProfileActivityPanel
{
	width:515px;
	height:100%;
	position:absolute;
	top: 560px;
	left: 540px;
	padding-right:20px;
}

.postbutton
{
	background-color:#3b5998;
	color:white;
	float: right;
}

.postlineProfile
{
	position: absolute;
	margin:100px;
	top: 410px;
	left: 440px;
	width:510px;
	height:25px;
	padding:5px;
	background-color: #f7f7f7;  
	postbutton
}

.onurmindProfile
{
	margin:100px;
	color:grey;
	position: absolute;
	padding:5px;
	top: 340px;
	left: 440px;
	font-size:14px;
	width:510px;
	height:60px;
	
}

.statusBar
{
	background-color: #f7f7f7;  
	margin:100px;
	color:black !important;
	font-size:12px;
	width:510px;
	padding:5px;
	position:absolute;
	top:305px;
	left:440px;
	height:25px;
	font-weight: bold;

}

.photos_panel
{
	clear:both;
	background-color:white;
	color:black;
	font-size:12px;
	width:300px;
	height:250px;
	margin-left:210px;
	padding:5px;
}

.about_panel
{
	clear:both;
	background-color:white;
	color:black;
	font-size:12px;
	width:300px;
	height:200px;
	margin-left:210px;
	padding:5px;
}

.common_panel
{
	float:left;
	color:black;
	font-size:12px;
	margin-top:15px;
	width:300px;
	margin-left:210px;
	margin-bottom:0px;
	padding:5px;
	height:20px;
	background-color:white;
	font-weight: bold;
	filter: alpha(opacity=40);
	opacity: 0.6;
}
.image:hover
{
	filter: alpha(opacity=40);
	opacity: 0.6;
}

.common_panel:hover
{
	text-decoration:underline !important;
}

.onurmind
{
	color:grey;
	position: absolute;
	top: 100px;
	left: 300px;
	font-size:14px;
	width:475px;
	height:60px;
	
}

.fixUpdateStatus
{
	position: absolute;
	top: 61px;
	left: 310px;
}

.fixphoto
{
	position: absolute;
	top: 60px;
	left: 433px;
}

.fixpost
{
	position: absolute;
	top: 169px;
	left: 740px;
}
.postline
{
	background-color: white;
	position: absolute;
	top: 165px;
	left: 300px;
	width:485px;
	height:30px;
	filter: alpha(opacity=40);
	opacity: 0.6;
	
}

.fixStatusbar
{
	position: absolute;
	top: 60px;
	left: 300px;
}
.fixGroup
{
	position: absolute;
	top: 180px;
	left: 97px;
}

.fixpage
{
	position: absolute;
	top: 155px;
	left: 100px;
}
.fixMessages
{
	position: absolute;
	top: 130px;
	left: 103px;
}



.fixNewsfeed:hover,.fixUpdateStatus:hover,.fixMessages:hover,.fixpage:hover,.fixGroup:hover,.fixphoto:hover
{
	filter: alpha(opacity=40);
	opacity: 0.6;
}

.fixNewsfeed
{
	position: absolute;
	top: 105px;
	left: 97px;
}

.fixuser
{
	position: fixed;
	top: 12px;
	left: 780px;
	color:white;
}
.fixhome
{
	position: fixed;
	top: 12px;
	left: 870px;
	color:white;
}
.searchbox
{
	height:20px;
	width:650px;
}
html,body,form
{

}


.leftPanel
{
	color: #333333;
	float: left;
	width: 300px;
	height: 100%;

}  

.hh
{
margin-left:100px;
}
.middlepanel
{
	margin-top:205px;
	background-color: inherit;
	color: #333333;
	float: left;
	width: 465px;
	height: 100%;

}

.rightpanel
{
	margin-top:60px;
	margin-left:40px;
	background-color: white;
	color: #333333;
	float: left;
	width: 250px;
	height:100vh;
	padding: 10px;
}

.activity_panel
{

	 border: 1px solid #cccccc;
	color: #333333;
	position: fixed;
	top: 50px;
	left: 1170px;
	float: left;
	width: 250px;
	height: 100%;
	padding: 10px;
}

.Activity_Log
{
	position: absolute;
	top: 310px;
	left: 820px;
	font-weight: bold;
	
	font-size: 14px;
}

.dot
{
	position: absolute;
	top: 310px;
	left: 920px;
	font-weight: bold;
	
	font-size: 14px;
}

.updateInfo
{

	position: absolute;
	top: 310px;
	left: 700px;
	font-weight: bold;
	
	font-size: 14px;
}


.cover_camera
{
	top: 65px;
	left: 250px;
	position:absolute;
		
}

.profile_camera
{
	position:absolute;
	top: 334px;
	left: 255px;
		
}

.box
{
	height:100%;
	position: fixed;
	top: 70px;
	left: 72px;
	width:12px;
	background-color: #eceff6;
	z-index:1;

}

.profileBar
{
	position: fixed;
    
	height:40px;
	width:100%;
    	background-color:#3b5998;
	z-index:1;
	padding-top:10px;
	padding-bottom:0px;
	padding-left:70px;
	color:white;
	font-family:"lucida grande";
	float:left;
    
    }
.pos_fixed1 {
    position: fixed;
    top: 10px;
    left: 71px;
  
}

.pos_fixed2 {
    position: fixed;
    top: 10px;
    left: 930px;
   
}
.pos_fixed3 {
    position: fixed;
    top: 10px;
    left: 965px;
  
}

.pos_fixed4 {
    position: fixed;
    top: 10px;
    left: 1000px;
    
}


.pos_fixed5 {
    position: fixed;
    top: 10px;
    left: 1040px;
   
}

.pos_fixed6 {
    position: fixed;
    top: 10px;
    left: 1065px;
 
}

.pos_fixed7 {
    position: fixed;
    top: 14px;
    left: 1095px;
   
}

.search_pos
{
	position: fixed;
	top: 14px;
	left: 730px;
}



body
{
margin:0px;
background-color: #eceff6;
color: white;

}

.searchbox
{
	position: fixed;
	height:20px;
	width:650px;
}

.timelineall
{
	width:100%;
	height:100%;
	background-color: #eceff6;
}


.all {
    background-color: white;
    font: normal 11px Tahoma,Verdana,Arial,Sans-Serif;
    color: #222;
    height: 380px;
}

.dropdown {
background-color: white;
    font: normal 11px Tahoma,Verdana,Arial,Sans-Serif;
    color: #222;
    height: 380px;
    display: block;
    display: inline-block;
    margin: 0px 3px;
    position: relative;
}

/* ===[ For demonstration ]=== */

.dropdown { margin-top: 50px }

/* ===[ End demonstration ]=== */

.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 5px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #717780;
    line-height: 16px;
    text-decoration: none !important;
    background: white;
}

.dropdown input[type="checkbox"]:checked +  .dropdown_button {
    
    color: Red;
    
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    border-bottom-color: #6D84B4;
}

.dropdown input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #6B7FA7;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }

.dropdown .dropdown_content {
    position: fixed;
    top: 49px;
    left: 1095px;
    border: 1px solid #777;
    padding: 0px;
    background: white;
    margin: 0;
    display: none;
}

.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown .dropdown_content li:hover {
    border-top-color: #3B5998;
    border-bottom-color: #3B5998;
    background: #6D84B4;
}

.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdown input[type="checkbox"]:checked ~ .dropdown_content { display: block }

.dropdown input[type="checkbox"] { display: none;
 background-color: #eceff6;}



#container{
margin-left:210px;
padding-top:30px;
width:1200px;

}

#container-content{
border:solid 1px #cccccc;
padding:20px;
width:558px;
color:#cccccc;
}
#info_box:hover
{
	text-decoration:none;
	color:black !important;
}

#info_box{

border:solid 1px #dedede;
width:850px;
text-align:center;
background-color:#fcfcfc;
margin-top:0px;
margin-left:210px;
height: 35px;
font-weight: bold;
font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
font-size:15px;
padding-top:6px;

}

#profile_img{
background-color: transparent;
margin-left: 10px;
margin-top: -40px;
overflow:hidden;
position: absolute;
top: 250px;
left: 230px;
color:black;
width: 168px;
height: 163px;

}
.k:hover
{
text-decoration:none;
}

.k{
color:black;
text-decoration:none;
}

.avatar_img{
padding:3px;
padding-top:0px;
}

#cover_container{
overflow: hidden;
width: 850px;
height: 350px;
}

#info-box{
margin-left:115px;
margin-top: -50px;
position: absolute;
}

#info-name{
float:left;
overflow:hidden;
word-wrap: break-word;
width:150px;
}

#info-content{
margin-left:170px;
width:290px;
}

#info-photos{
text-align:center;
font-size:11px;
padding:5px;
float:left;
width:80px;
border:solid 1px #eeeeee;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
text-align:center;
font-size:11px;
padding:5px;
margin-left:100px;
border:solid 1px #eeeeee;
width:80px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}


.hoverr {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}


.inc
{
	float:left;
	height:40px;
	width:60px;
	text-align:center;
	margin-top: 0px;
	padding-top:0px;
}